.containerInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.containerInfos p {
    display: flex;
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 0.8rem;
}