.foodStorage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.cardContainerFood {
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: whitesmoke;
    font-size: 0.8rem;

    border-radius: 10px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
    padding: 5px;
    width: 300px;


}


.containerFoodConsumed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFoodConsumed span {
    font-size: 1.5rem;
}

.OneFoodConsumed {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    text-align: center;
}

.titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 20px;
    padding: 10px;
}

.addBtn {
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
    width: 3.5rem;
    border: none;
}

.addBtn:active,
.addBtn:focus {
    outline: 0;
    border: none;
}

.Container h2 {
    margin: 20px;
}

.searchBarFood input {
    margin: 20px;
    height: 40px;
    width: 220px;
}

h3 {
    margin: 20px;
}

.nameFood {
    margin-bottom: 5px;
}