@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./assets/img/background.png);
}


button {
  all: unset
}